################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bizbook-server/.vs/B2BCore/v16
/bizbook-server/B2BCoreAuth/bin/Debug/netcoreapp2.1
/bizbook-server/B2BCoreAuth/obj
/bizbook-server/Model/bin/Debug/netcoreapp2.1
/bizbook-server/Model/obj/Debug/netcoreapp2.1
/bizbook-server/Model/obj
/bizbook-server/RequestModel/bin/Debug/netcoreapp2.1
/bizbook-server/RequestModel/obj
/bizbook-server/ServiceLibrary/bin/Debug/netcoreapp2.1
/bizbook-server/ServiceLibrary/obj
/bizbook-server/ViewModel/bin/Debug/netcoreapp2.1
/bizbook-server/ViewModel/obj
/bizbook-server/.vs/B2BCore
/bizbook-server/B2BCoreAuth/bin/Debug/netcoreapp2.2
/bizbook-server/Model/bin/Debug/netcoreapp2.2
/bizbook-server/RequestModel/bin/Debug/netcoreapp2.2
/bizbook-server/ServiceLibrary/bin/Debug/netcoreapp2.2
/bizbook-server/ViewModel/bin/Debug/netcoreapp2.2
/bizbook-server/ApiTestProject/bin/Debug/netcoreapp2.2
/bizbook-server/ApiTestProject/obj
*.user
/RnDs/DataSeedConsoleApp/.vs/DataSeedConsoleApp/v16/Server/sqlite3
/RnDs/DataSeedConsoleApp/DataSeedConsoleApp/bin/Debug/netcoreapp2.2
/RnDs/DataSeedConsoleApp/DataSeedConsoleApp/obj
